# FastApi server port 
PORT=8000

# Database configuration
DATABASE_URL=postgresql://postgres:'pass123'@localhost/insumeal
DATABASE_NAME=insumeal.db

# Gemini Api
GEMINI_API_KEY='AAAJJJAAAJAJAJAJA'
GEMINI_TEMPERATURE='0.2'

# Edamam Api
EDAMAM_APP_ID='bb3be893'
EDAMAM_APP_KEY='d12a67d3425a71dc0e5f312cc52ed645'
EDAMAM_URL='https://api.edamam.com/api/food-database/v2'

# USDA API KEY
USDA_API_KEY='xxxxxxx'
USDA_URL='https://api.nal.usda.gov/fdc/v1/foods/search/?'

# Proveedor nutricional: "edamam" o "usda"
NUTRITION_PROVIDER='usda'
# JWT Secret Key
SECRET_KEY="pass123"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440 # 24 hours . 60 minutes
# DOCKERHUB_USER para push de la imagen
DOCKERHUB_USER='usuario'


# docker run --rm -p 8080:8000 --env-file /Users/tiago/Documents/GitHub/InsuMealBackend/backend/.env tiagoweintraub/insumeal-backend:v1.0.1
